// Color palette available at: https://coolors.co/2b2726-413a3a-564d4d-8a4fff-bb99ff

$pokeritPrimary: #8a4fffff;
$pokeritSecondary: #bb99ffff;
$pokeritMain: #413a3aff;
$pokeritDarkerMain: #2b2726ff;
$pokeritLighterMain: #564d4dff;
$pokeritContrast: #FFFFFFFF;